/* CSS layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(../imgs/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style: none;
}

.navbar a, li a {
    text-decoration: none;
    color: #213043;
    font-weight: bold;
    text-transform: lowercase;
    padding: 15px;
}

.navbar {
    background-color: #e9c2d8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
}

.menu li {
    margin: 5px;
}

.menu li a {
    display: block;
    padding: 15px;
}

.navbar a:hover, .menu li a:hover {
    background-color: #dfa9c7;
}

label {
    font-size: 16pt;
}

footer {
    margin-top: 15px;
}

footer p {
    text-align: center;
}

/* CSS index */

.middle {
    display: grid;
    grid-template-areas: "form img"
                         "form img";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.top {
    text-align: center;
}

.top h1, .top h3 {
    margin: 20px 0;
}

.form {
    margin: 0 auto;
    text-align: center;
    grid-area: form;
    margin-top: 30px;
}

.img {
    grid-area: img;
}

.img img {
    width: 100%;
}

.form div {
    padding: 5px 0;
}

.form div p {
    font-size: 11pt;
    text-align: left;
    margin: 5px 0;
}

.form div input, 
.form div textarea,
select {
    width: 300px;
    resize: none;
    border: 1px solid #dfa9c7;
    border-radius: 5px;
    padding: 5px;
}

.btnIndex {
    height: 35px;
    font-size: 12pt;
    text-transform: lowercase;
    font-weight: bold;
    border-radius: 15px;
    border: #dfa9c7;
    color: #213043;
    background-color: #dfa9c7;
}