{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <title>Projeto 03</title>
</head>
<body>
    <header class="navbar">
        <a href="/">Repositório de ideias</a>
        <nav>
            <ul class="menu">
                <li><a href="/ideias">Ideias</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    {% block conteudo %}

    {% endblock %}

    <footer>
        <p>Isadora Peres &copy; 2019 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>